<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Main Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet"/>
    <link href="../../../../node_modules/material-icons/iconfont/material-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="roboto">

<div th:if="${#strings.contains(#authentication.principal.authorities, 'ADMIN')}">
    <a href="/user"><i class="material-symbols-outlined icon-hover">group</i>Пользователи</a>
</div>


    <form th:action="@{/logout}" method="post">
        <button type="submit" ><i class="material-symbols-outlined icon">logout</i></button>
    </form>



<div>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" multiple/>
        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}" name="_csrf"/>
        <button type="submit">Жми</button>
    </form>
</div>

<div>
    <form action="#" data-th-action="@{/filter}" method="post">
        <input type="text" name="filter">
        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}" name="_csrf"/>
        <button type="submit">Найти</button>
    </form>
</div>

<h3>Список файлов</h3>


<div th:each="file : ${files}" class="file-item">

    <div th:if="${#strings.contains(#authentication.principal.authorities, 'DEV')}" th:text="${file.id}"></div>

    <a class="material-symbols-outlined file-link icon-hover" th:href="@{ '/main/download/' + ${file.getLink()} }">download</a>
    <div th:text="${file.filename}"></div>

    <div class="file-owner" th:text="${file.ownerUsername}"></div>

    <div th:if="${#strings.contains(#authentication.principal.authorities, 'DEV')}" class="file-recievers" th:each="file_reciever : ${file.recievers}">
        <div th:text="${file_reciever}"></div>
    </div>


    <dialog th:id="'modal-' + ${file.id}" class="modal">
        <div class="modal__inner">
            <h1>Информация о файле:</h1>
            <h3 th:value="'Id файла:' + ${file.id}"></h3>
            <h3 th:value="'Имя файла:' + ${file.filename}"></h3>

            <div class="file-recievers-access-visible" th:if="${file.owner.id} eq ${#authentication.principal.id}">
                <h2>Выдача доступа:</h2>
                <form action="#" data-th-action="@{/addreciever}" method="post" class="file-recievers-add">
                    <input placeholder="Введите id юзера" type="text" th:name="reciever" id="reciever" th:id="${reciever}">
                    <input type="hidden" th:value="${file.id}" th:name="fileId">
                    <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}"
                           name="_csrf"/>
                    <button type="submit">Жми</button>
                </form>
            </div>

            <h2>Те, кому доступен файл:</h2>
            <div class="file-recievers" th:each="file_reciever : ${file.recievers}">
                <div th:text="${@userRepo.findById(file_reciever).get().getUsername()}"></div>
                <form action="#" data-th-action="@{/removereciever}" method="post" class="file-recievers-remove"
                      th:if="${file.owner.id} eq ${#authentication.principal.id}">
                    <input type="hidden" th:value="${file.id}" th:name="fileId">
                    <input type="hidden" th:value="${file_reciever}" th:name="reciever">
                    <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}"
                           name="_csrf"/>
                    <button type="submit" class="material-symbols-outlined icon">group_remove</button>
                </form>
            </div>
            <button th:onclick="'closeModal(\'' + ${file.id} + '\')'" class="closeModalAboutFile">Подтвердить</button>
        </div>
    </dialog>

    <button th:onclick="'openModal(\'' + ${file.id} + '\')'" class="openModalAboutFile">О файле</button>

    <form action="#" data-th-action="@{/removefile}" method="post" class="file-remove"
          th:if="${file.owner.id} eq ${#authentication.principal.id}">
        <input type="hidden" th:value="${file.id}" th:name="fileId">
        <input type="hidden" data-th-name="${_csrf.parameterName}" data-th-value="${_csrf.token}" name="_csrf"/>
        <button type="submit">Удалить файл</button>
    </form>

</div>


<script>
    function openModal(fileId) {
        const modal = document.getElementById('modal-' + fileId);
        if (modal) {
            modal.style.display = 'flex';
        }
    }

    function closeModal(fileId) {
        const modal = document.getElementById('modal-' + fileId);
        if (modal) {
            modal.style.display = 'none';
        }
    }

    // Закрытие модального окна при клике вне его содержимого
    document.addEventListener('DOMContentLoaded', function () {
        const modals = document.querySelectorAll('.modal');
        modals.forEach(modal => {
            modal.addEventListener('click', function (e) {
                if (e.target === this) {
                    this.style.display = 'none';
                }
            });
        });
    });
</script>
</body>
</html>

